<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daviz.testone">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stop"
        android:label="Drudge Finder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCrlbtaRocIbyDdh1tYGO1ekuqGptcpVzs" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity android:name=".AdminActivity">
            <intent-filter>
                <action android:name="android.AdminActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".AdminActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.MainActivity"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WorkerActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.MainActivity"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CustomerActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.MainActivity"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WorkerLogined"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.MainActivity"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".CustomerLogined" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".ViewImage" />
        <activity android:name=".Worker_Customer_Assign"></activity>
    </application>

</manifest>